
type <%=name%>Attribute {
<% _(attributes).forEach(attr =>print('    '+attr.fieldName+': String\n') ) %> 
  
}

type <%=name%>Variant implements Variant {
    urn: String
    type: String
    sku: String
<% _(variants).forEach(attr =>print('    '+attr.fieldName+': String\n') ) %> 
}



